---
import Layout from '../layouts/Layout.astro';
import Topics from '../components/Topics.astro';
import Topic from '../components/Topic.astro';
---

<Layout title="Welcome to Szymzal's Website">
	<main>
		<h1>Welcome to <span class="text-gradient">Szymzal's Website</span></h1>
        <Topics>
            <Topic topic="Modpacks" url="modpacks">
        </Topics>
	</main>
</Layout>

<style>
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
