---
import Layout from "../layouts/Layout.astro";
import Topics from "../components/Topics.astro";
import Topic from "../components/Topic.astro";
---

<Layout title="Szymzal's modpacks">
  <main>
    <h1>Szymzal's Modpacks</h1>
    <h3>Modpacks that Szymzal plays</h3>
    <Topics>
      <Topic topic="TerraFirmaGreg: New Horizons" url="modpacks/tfgnh" />
      <Topic topic="HMMinecraft" url="modpacks/hmminecraft" />
    </Topics>
  </main>
</Layout>
